body {
    margin: 0;
    font-family: sans-serif;
}
nav {
    
    background-color: #234465;
    text-align: center;
    margin:  0;
    padding: 8px;
    

}
nav li{
    display: inline-block;
    text-indent:  50px;
}
nav li a{
    
    color: white;
    text-decoration: none;

}
